body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container p {
  text-align: center;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(21, 82, 99, 0.65)), to(rgba(21, 82, 99, 0.55)));
  background: linear-gradient(to right, rgba(21, 82, 99, 0.65), rgba(21, 82, 99, 0.55));
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .header_section {
  margin-top: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.header_section {
  padding: 10px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 7px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #ff6f3c;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #ff6f3c;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

.quote_btn-container a:hover {
  color: #155263;
}

.quote_btn-container .quote_btn {
  display: inline-block;
  padding: 5px 25px;
  background-color: #ff6f3c;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.quote_btn-container .quote_btn:hover {
  background-color: #ef3e00;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0 145px 0;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .find_form_container {
  /* nice select */
  /* end nice select */
}

.slider_section .find_form_container .form-group {
  margin: 15px;
  position: relative;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.slider_section .find_form_container .input-group-text {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8f3;
  border: none;
}

.slider_section .find_form_container label {
  color: #fff;
}

.slider_section .find_form_container .form-control {
  height: 50px;
  outline: none;
  border: none;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f7f8f3;
}

.slider_section .find_form_container .form-control::-webkit-input-placeholder {
  font-size: 14px;
}

.slider_section .find_form_container .form-control:-ms-input-placeholder {
  font-size: 14px;
}

.slider_section .find_form_container .form-control::-ms-input-placeholder {
  font-size: 14px;
}

.slider_section .find_form_container .form-control::placeholder {
  font-size: 14px;
}

.slider_section .find_form_container .form-control.nice-select {
  line-height: 39px;
}

.slider_section .find_form_container .nice-select ul {
  width: 100%;
  padding: 0;
}

.slider_section .find_form_container .nice-select::after {
  right: 15px;
  border: none;
  border-top: 5px solid #ccc;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.slider_section .find_form_container .nice-select.open::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider_section .find_form_container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.slider_section .find_form_container .btn-box button {
  display: inline-block;
  padding: 12px 50px;
  background-color: #ff6f3c;
  color: #ffffff;
  border-radius: 45x;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .find_form_container .btn-box button:hover {
  background-color: #ef3e00;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #155263;
  text-align: center;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 30px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #d9d9d9;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ff6f3c;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: #ef3e00;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
  border: 1px solid #ffffff;
  text-indent: unset;
  background-clip: unset;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.about_section {
  background-color: #272424;
  color: white;
}

.about_section .heading_container {
  
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff6f3c;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.about_section .detail-box a:hover {
  background-color: #ef3e00;
}

.discord-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.wrapper-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.wrapper-buttons > * {
  margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
  margin-top: 10px;
}

.wrapper-buttons > *:last-child {
  margin-bottom: 0px;
}

.white-button,
.blue-button {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.white-button a {
  color: black;
}

.blue-button a {
  color: black;
}

.blue-button {
  background-color: #6882DC;
  border: 2px solid #fff;
  border-radius: 80px;
  color: #fff;
}

.white-button {
  background-color: #3498DB;
  border: 2px solid #fff;
  border-radius: 80px;
  color: #000;
}

.blue-button:hover,
.white-button:hover {
  transform: translateY(1px);
}

.blue-button:active,
.white-button:active {
  transform: translateY(2px);
}

.blue-button,
.white-button {
  outline: transparent !important;
}


/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #155263;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */